{% extends "blog/base.html" %}

{% block cssfiles %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block mainbody %}
<h1>{{ a_post.title }}</h1><hr>
<div class="posts">
	{% autoescape off %}
		{{ a_post.content }}
	{% endautoescape %}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'yhfdjangoblog'; // required: replace example with your forum shortname
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    
</div>
{% endblock %}