{% extends "blog/base.html" %}

{% block cssfiles %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block jsfiles %}
{% endblock %}

<!-- class="mainbody" -->
{% block mainbody%}
{% for post in posts%}
	<div class="title">
		<h2>{{ post.title }}<label>{{ post.pub_date|date:"Y年m月d日" }}</label></h2> 
	</div>
	<div class="content">
		{{ post.content }}
	</div>
	<div class="tags">
		<strong>Tags: </strong>
		{% for tag in tags %}
			{% if tag.post.id == post.id %}
				{{ tag }}
			{% endif %}
		{% endfor %}
	</div>
	<hr>
{% endfor %}

<form action="/blog/" method="post" accept-charset="utf-8">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit">
</form>
{% endblock %}
<!-- end class="mainbody" -->